body {
	text-align: center;
	height: 100%;
	margin: auto;
}

p {
	
}


/**************container**************/
.container {
	/*margin-left: auto;
	margin-right: auto;*/
	background: url(../img/background@2x.png) center no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 940px) {
	.container{
		background-image: url(../img/background@1x.png);
	}
}

@media only screen and (max-width: 500px) {
	.container{
		background-image: url(../img/background.png);
	}
	html{
		margin-top: -13px !important;
	}
}

/**************frist_display**************/
.frist_display{
	position: relative;
	height: 50em;
	margin-bottom: 22px;
	background: rgba(0, 0, 0, 0.13);
}
.cursor{
	top: 42%;
	position: relative;
}

@media only screen and (max-width: 940px) {
	.frist_display{
		height: 28em;
	}
	.cursor{
		top: 24%;
	}
}

@media only screen and (max-width: 500px) {
	.frist_display{
		height: 16em;
	}
	.cursor{
		top: 38%;
    	font-size: x-small;
	}
}


/**************tabler**************/
.tabler {
    border: none;
    text-align: center;
    position: relative;
    margin: auto;
/*    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);*/
    max-width: 70em;
    height: 25em;
}


/**************tabler cards**************/
.cards1{
	box-sizing: border-box;
	max-width: 22%;
	margin-left: 2%; 
	float: left;	
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.cards2{
	box-sizing: border-box;
	max-width: 22%;
	float: left;
	margin-left: 2.5%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.cards3{
	box-sizing: border-box;
	max-width: 22%;
	float: left;
	margin-left: 2.5%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.cards4{
	box-sizing: border-box;
	max-width: 22%;
	float: left;
	margin-left: 2.5%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

@media only screen and (max-width: 940px) {
	.tabler{
		max-width: 42em;
	}

	.cards1{
		box-sizing: border-box;
		margin-left: 0% !important;
		max-width: 50%;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards2{
		box-sizing: border-box;
		margin-left: 0% !important; 
		max-width: 50%;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards3{
		box-sizing: border-box;
		margin-left: 0% !important; 
		margin-top: 3%;
		max-width: 50%;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards4{
		box-sizing: border-box;
		margin-left: 0% !important; 
		margin-top: 3%;
		max-width: 50%;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cardtext{
		font-size: 1.15em !important;
	}
}

@media only screen and (max-width: 500px) {
	.tabler{
		position: relative !important;
		/*left: 47.5% !important;*/
		width: 86%;
		top: inherit;
		max-width: 100%;
		height: 98em;
	}

	.boxLoading{
		left: 37.5% !important;
		top: 90% !important;
	}

	.cards1{
		box-sizing: border-box; 
		max-width: 100%;
		width: 100% !important;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards2{
		box-sizing: border-box;
		margin-top: 20px;
		max-width: 100%;
		width: 100% !important;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards3{
		box-sizing: border-box;
		margin-top: 20px; 
		max-width: 100%;
		width: 100% !important;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cards4{
		box-sizing: border-box;
		margin-top: 20px; 
		max-width: 100%;
		width: 100% !important;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	}

	.cardtext{
		font-size: 1em !important;
	}	
}

.cardimg{
	width: 100%;
	border: 0;
	margin-bottom: -5px;
}

.cardtext{
	font-size: 15px;
	width: 100%;
	height: 100%;
	text-align: center !important;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.4);
}

/**************table_det**************/
.table_det{
	position: relative;
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.det_text{
	margin: 6% 0 0% 0;
    height: 7em;
}

@media only screen and (max-width: 940px) {
	.table_det{
		position: relative;
	}

	.det_text{
		height: 6em;
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 500px) {
	.table_det{
		position: relative;
		height: 12em;
	}

	.det_text{
		height: 6em;
		width: 80%;
	}
}

/**************dynamicdata**************/
.dynamicdata{
	width: 600px;
    height: 400px;
}

#datareflash{
	
}


/**************chart_display**************/
.chart_display{
	position: absolute;
    width: 100%;
    height: 42em;
    text-align: center;
    margin: auto;
    background: ghostwhite;
    padding-top: 5%;
}

.chart_diapalys{
	width: 80%;
	margin: auto;
}

.room_table{
	position: absolute;
	height: 90%;
    width: 30%;
    margin: auto;
    float: left;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: -webkit-center;
}

.room_page{
	width: 70%;
	height: 26%;
	background: url(../img/cards/medical1.png) center darkolivegreen;
	background-size: cover;
}

/*room_item*/
.room_item{
	background-color: rgb(211, 217, 201);
    width: 70%;
    height: 49%;
    overflow: scroll;
    overflow-x:hidden;
}

.room_ul{
	list-style-type: none;
    margin: 30px;
    padding: 0;
}

.room_li a{
	display: block;
    color: #000;
    padding: 12px 0 12px 16px;
    text-decoration: none;
}

.room_li a:hover {
    background-color: #555;
    color: white;
}

.room_det{
	width: 70%;
    height: 22%;
    background: ;
}

.chart_temp_display{
    position: absolute !important;
    width: 50%;
    height: 50%;
    float: right;
    left: 37%;
    margin-top: 40px;
}

@media only screen and (max-width: 500px) {
	.chart_display{
		height: 47em;
	}
	.chart_diapalys{
		width: 100%;
		margin: auto;
	}
	.room_table{
		width: 100%;
		height: 60%;
	}
	.chart_temp_display{
		width: 80%;
		height: 25%;
		top: 32em;
		left: 10%;
		margin: auto;
	}
	.room_page{
		margin-top: 7%;
		height: 37%;
	}
}

/**************control_display**************/
.control_display{
	position: relative;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 31em;
    margin-top: 23px;
    top: 45em;
    text-align: center;
}

.control_det{
	background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.control_container{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 87%;
    height: 48%;
    margin: auto;
}

.control_item{
	background-color: rgba(0, 0, 0, 0.13);
    width: 100px;
    height: 100px;
    margin: auto;
}

@media only screen and (max-width: 500px) {
	.control_display{
		height: 44em;
	    margin-top: 21px;
	    top: 46em;
	}
	.control_container{
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	    width: 88%;
    	height: 64%;
	}
	.control_item{
		margin: 10px 0 0 0;
		width: 79%;
	}
}
/**************footer**************/
.footer{
	position: fixed;
    bottom: 0;
    right: 15px;
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 20px;
    display: block;
    color: #cccccc;
    float: right;
}



/*************font**************/

/*cursor*/
.cursor{
	font-family: "华文细黑", "微软雅黑";
}

/*card*/
.card_cn {
	font-family: "华文细黑", "微软雅黑";
	color: rgb(239, 239, 239);
	font-size: 2.2em;
	margin: auto;
	margin-top: 6%;
}

.card_en {
	font-family: "华文细黑", "微软雅黑"; 
	color: rgb(239, 239, 239);
	/*font-family: 'Raleway', sans-serif;*/
	font-size: 1.3em;
	margin: auto;
}

/*light,temp,humi,gas*/
.light,.temp,.humi,.gas{
	font-size: 2.1em; 
	font-family: "华文细黑", "微软雅黑"; 
	color: rgb(193, 193, 193);
	font-weight: bold;
    margin: auto;
    margin-top: 10%;
   
}

.lightdate,.tempdate,.humidate,.gasdate{
	font-family: 'Metrophobic', Arial, serif; 
	font-weight: 400; 
	color: rgb(193, 193, 193);
}

/*det_text*/
.det_text{
	font-family: "华文细黑", "微软雅黑"; 
}
