
body{
	text-align:center;
    /*background:url(../img/background1.png) center no-repeat;*/
    background-color: #EAF2D3;
    background-size: cover;
    background-attachment:fixed;
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;

}
h1{
	font-size: 3.25em;
    color: white;
    padding-top: 16%;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif !important;
}
h4{
    font-size: 25px;
    color: white;
    font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif !important;

}
caption{
    font-size：100px;
   font-family: verdana;
    color: black;
    margin: auto;
    height: 100%;
    width: 40%;
   
}
table{
    border-color: #4C68F1;
}
table, th, td {
    border-collapse: collapse;
    font-family: verdana;
    height: 20%;
    padding: 3%;
    text-align: left;
 
}
.background1{
    background-size: cover;
}
.container{
    color: white;
    width: 100%;
    height: 93%;
    background: url(../img/plant.jpg) center no-repeat;
    background-size: cover;
}


.home{
        margin-top:-45px;
}
.light{
    background: rgba(255, 255, 255, 0.57);
    padding: 0.5% 3% 0.5% 3%;
    border-radius: 5px;
}
nav a {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif !important;
    font-size: 1.45em;
    font-color：white;
    text-decoration:none
}

.condition{
    margin: auto;
    height: 11%;
    margin-top: 20px;

}
caption{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 4%;
}

.compare-rgb{
    width: 84%;
    margin: auto;
    height: 65%;
    margin-top: 6%;
}
.compare-a-rgb{
  
    float: left;
    width: 46%;
    margin: auto;
}
.compare-b-rgb{
	
    float: left;
    width: 46%;
    margin: auto;
    margin-left: 8%;
}
.compare-a-rgb tr.table-a-1 td
{
	color:#000000; 
	background-color:rgba(235, 79, 56, 0.37);
}

.compare-b-rgb tr.table-b-1 td
{
	color:#000000; 
	background-color:rgba(235, 79, 56, 0.37);
}

.fa.fa-lightbulb-o{
    color: #C5423D;
    margin-right: 9px;
}
.fa.fa-sun-o{
    color: #C5423D;
    margin-right: 5px;
    margin-left: -5px;
}
.fa.fa-arrow-up{
    color: #C5423D;
    margin-left: -4px;
    margin-right: 6px;
}


.compare-a-rgb .icon p{
        text-indent: 4em;
}
.compare-b-rgb .icon p{
        text-indent: 4em;
}


.linechart-a{
    float: left;
    margin: auto;
    margin-left: 2%;
    width: 95%;
    margin-top: 6%;
    text-align: center;
}
.linechart-b{
    float: left;
    margin: auto;
    margin-left: 2%;
    width: 95%;
    margin-top: 6%;
    text-align: center;
}


.linechart-c{
    float: left;
    margin: auto;
    margin-left: 2%;
    width: 95%;
    margin-top: 6%;
    text-align: center;
}

.foot{
   height: 30%;
    width: 100%;
    float: left;
    background-color: rgba(217, 217, 217, 0.64);
    margin-top: 5%;
    
}






/*     */ 
@media only screen and (max-width:500px){
    .container{
        width: 100%;
        height: 30%;
        background: url(../img/plant.jpg) center no-repeat;
        background-size: cover;
        border: -1px;
        font-size: 0.45em;
}
   h4{
    display:none;
   }
   nav{
    display:none;
   }
   
   .compare-a-rgb{
    width: 100%;
    margin-top: 17%;
   }
   .compare-b-rgb{
    width: 100%;
    margin-top: 15% !important;
    margin: auto;
   }
caption{
        width: 100%;
}
.linechart-a{
    height: 60% !important;
    margin-top: 12% !important;
}
.linechart-b{
    height: 60% !important;
    margin-top: -18% !important;
}
.linechart-c{
    height: 60% !important;
    margin-top: -18% !important; 
}

